[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "black handlers -l 79 lib -l 79 main.py -l 79"

[packages]
python-telegram-bot = "*"
openai = "*"
opencc-python-reimplemented = "*"
zhon = "*"
tiktoken = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
